<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobileapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Travel Helper"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileApp">
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".info"
            android:exported="false" />
        <activity
            android:name=".SaveLocation"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBwCB7iDDiR3TKWE6XI0EBH2GqO1JeuPd0" />

        <activity
            android:name=".MockLocationMap"
            android:exported="false"
            android:label="@string/title_activity_mock_location_map" />
        <activity
            android:name=".MockLocationMenu"
            android:exported="false" />
        <activity
            android:name=".myLocationMap"
            android:exported="false"
            android:label="@string/title_activity_my_location_map" />
        <activity
            android:name=".addComment"
            android:exported="false" />
        <activity
            android:name=".DetailedPost"
            android:exported="false" />
        <activity
            android:name=".OpenPost"
            android:exported="false" />
        <activity
            android:name=".addPost"
            android:exported="false" />
        <activity
            android:name=".MyLocationPost"
            android:exported="false" />
        <activity
            android:name=".MyLocation"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>